[submodule "cpp-argparse"]
	path = cpp-argparse
	url = https://github.com/weisslj/cpp-argparse.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "teamcity-cpp"]
	path = teamcity-cpp
	url = https://github.com/JetBrains/teamcity-cpp.git
