[submodule "cpp-argparse"]
	path = cpp-argparse
	url = https://github.com/weisslj/cpp-argparse.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "Poppy"]
	path = Poppy
	url = https://github.com/orling/Poppy.git
